<template>
    <main>
        <p>
            Nothing special in here. Just another Vue app with a button.
        </p>

        <v-button>
            Click me.
        </v-button>
    </main>
</template>

<script>
    import VButton from './button/Button';

    export default {
        name: 'v-app',
        components: { VButton },
    };
</script>
