<template>
    <button
        class="v-button"
        @click="$emit('click')"
        :disabled="disabled"
    >
        <slot />
    </button>
</template>

<script>
    export default {
        name: 'v-button',
        props: {
            disabled: {
                type: Boolean,
                default: false,
            },
        },
    };
</script>
